<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/index.js"></script>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>use this page to get your weather!</p>
        </div>

        {{>footer}}
    </body>

</html>